Repository scg-unibe-ch/ese2020-team5, pull requests merged in 2020-11, with the labels that each got.

#42 Implemented Catalog Page
  frontend/src/app/app-routing.module.ts
  frontend/src/app/app.component.css
  frontend/src/app/app.component.html
  frontend/src/app/app.component.ts
  frontend/src/app/app.module.ts
  frontend/src/app/components/catalog/catalog.component.css
  frontend/src/app/components/catalog/catalog.component.html
  frontend/src/app/components/catalog/catalog.component.spec.ts
  frontend/src/app/components/catalog/catalog.component.ts
  frontend/src/app/components/login/login.component.ts
  frontend/src/app/components/product/product.component.css
  frontend/src/app/components/product/product.component.html
  frontend/src/app/components/product/product.component.spec.ts
  frontend/src/app/components/product/product.component.ts
Labels: frontend

#36 Fixed hide/show password function
  frontend/src/app/components/login/login.component.css
  frontend/src/app/components/login/login.component.html
Labels: frontend

#44 Be/update readme
  backend/README.md
Labels: backend, documentation

#40 Created a lot of integration tests in postman.
  .github/workflows/main.yml
  backend/postman_collection/Integration Tests.postman_collection.json
  backend/postman_collection/User.postman_environment.json
  backend/postman_collection/admin.postman_environment.json
  backend/src/models/product.model.ts
Labels: backend, enhancement

#54 Update Sign Up Page
  frontend/src/app/components/sign-up/sign-up.component.html
  frontend/src/app/components/sign-up/sign-up.component.ts
  frontend/src/styles.css
Labels: frontend

#53 Update Admin Panel
  frontend/src/app/app.module.ts
  frontend/src/app/components/admin-panel/admin-panel.component.css
  frontend/src/app/components/admin-panel/admin-panel.component.html
  frontend/src/app/components/admin-product-panel/admin-product-panel.component.css
  frontend/src/app/components/admin-product-panel/admin-product-panel.component.html
  frontend/src/app/components/admin-product-panel/admin-product-panel.component.ts
  frontend/src/app/components/admin-user-panel/admin-user-panel.component.css
  frontend/src/app/components/admin-user-panel/admin-user-panel.component.html
  frontend/src/app/components/admin-user-panel/admin-user-panel.component.ts
  frontend/src/app/components/custom/dialog/approve-product/approve-product.component.css
  frontend/src/app/components/custom/dialog/approve-product/approve-product.component.html
  frontend/src/app/components/custom/dialog/approve-product/approve-product.component.spec.ts
  frontend/src/app/components/custom/dialog/approve-product/approve-product.component.ts
  frontend/src/app/components/custom/dialog/delete-product/delete-product.component.html
  frontend/src/app/components/custom/dialog/delete-user/delete-user.component.css
  frontend/src/app/components/custom/dialog/delete-user/delete-user.component.html
  frontend/src/app/components/custom/dialog/delete-user/delete-user.component.spec.ts
  frontend/src/app/components/custom/dialog/delete-user/delete-user.component.ts
  frontend/src/styles.css
Labels: frontend

#51 Filter for Catalog Page
  frontend/src/app/app.component.ts
  frontend/src/app/app.module.ts
  frontend/src/app/components/catalog/catalog.component.css
  frontend/src/app/components/catalog/catalog.component.html
  frontend/src/app/components/catalog/catalog.component.ts
Labels: frontend

#56 Cleaned up the deliverables directory
  deliverables/CRCCards.docx
  deliverables/oldCRCCards/crcCards-backend.docx
  deliverables/oldCRCCards/crcCards-frontend_update 02.11.2020.docx
  deliverables/oldCRCCards/crcCards.docx
  deliverables/oldCRCCards/crcCards2.docx
Labels: documentation

#57 Fixed an issue in CRC Cards
  deliverables/CRCCards.docx
Labels: documentation

#59 Uml diagram correction backend
  deliverables/ESE_UML_Backend.png
  deliverables/ESE_UML_Backend.xml
Labels: backend, documentation

#62 Added two more attributes for the user
  backend/src/models/user.model.ts
Labels: backend, enhancement

#58 Catalog Filter + UI Update
  frontend/angular.json
  frontend/src/app/app.module.ts
  frontend/src/app/components/admin-product-panel/admin-product-panel.component.css
  frontend/src/app/components/admin-product-panel/admin-product-panel.component.html
  frontend/src/app/components/admin-user-panel/admin-user-panel.component.html
  frontend/src/app/components/catalog/catalog.component.css
  frontend/src/app/components/catalog/catalog.component.html
  frontend/src/app/components/catalog/catalog.component.ts
  frontend/src/app/components/custom/compact-product-card/compact-product-card.component.css
  frontend/src/app/components/custom/compact-product-card/compact-product-card.component.html
  frontend/src/app/components/custom/compact-product-card/compact-product-card.component.spec.ts
  frontend/src/app/components/custom/compact-product-card/compact-product-card.component.ts
  frontend/src/app/components/custom/compact-product-list/compact-product-list.component.css
  frontend/src/app/components/custom/compact-product-list/compact-product-list.component.html
  frontend/src/app/components/custom/compact-product-list/compact-product-list.component.spec.ts
  frontend/src/app/components/custom/compact-product-list/compact-product-list.component.ts
  frontend/src/app/components/custom/dialog/approve-product/approve-product.component.css
  frontend/src/app/components/custom/dialog/approve-product/approve-product.component.html
  frontend/src/app/components/custom/dialog/delete-product/delete-product.component.css
  frontend/src/app/components/custom/dialog/delete-product/delete-product.component.html
  frontend/src/app/components/custom/dialog/delete-user/delete-user.component.css
  frontend/src/app/components/custom/dialog/delete-user/delete-user.component.html
  frontend/src/app/components/custom/product-status-icon/product-status-icon.component.css
  frontend/src/app/components/custom/product-status-icon/product-status-icon.component.html
  frontend/src/app/components/custom/product-status-icon/product-status-icon.component.spec.ts
  frontend/src/app/components/custom/product-status-icon/product-status-icon.component.ts
  frontend/src/app/components/my-products/my-products.component.css
  frontend/src/app/components/my-products/my-products.component.html
  frontend/src/app/components/my-products/my-products.component.ts
  frontend/src/app/services/preference.service.spec.ts
  frontend/src/app/services/preference.service.ts
  frontend/src/custom-theme.scss
  frontend/src/styles.css
Labels: frontend

#61 Update Edit Product
  frontend/src/app/components/edit-product/edit-product.component.css
  frontend/src/app/components/edit-product/edit-product.component.html
  frontend/src/app/components/edit-product/edit-product.component.ts
  frontend/src/app/models/product.model.ts
Labels: frontend

#60 Updated UML Diagram Frontend
  deliverables/UML_Frontend_Class Diagram  (2).jpg
  deliverables/UML_Frontend_Class Diagram .xml
  deliverables/UML_Frontend_Class Diagram_new.jpg
Labels: documentation, frontend

#67 Product Image
  backend/package.json
  backend/src/controllers/product.controller.ts
  backend/src/middlewares/imageUpload.ts
  backend/src/models/product.model.ts
  backend/src/models/productImage.model.ts
  backend/src/server.ts
  backend/src/services/product.service.ts
  frontend/src/app/components/home/home.component.html
  frontend/src/app/components/home/home.component.ts
  frontend/src/app/models/product.model.ts
Labels: backend

#52 create transaction
  backend/postman_collection/Integration Tests.postman_collection.json
  backend/src/controllers/shoppingcart.controller.ts
  backend/src/models/product.model.ts
  backend/src/models/shoppingcart.model.ts
  backend/src/models/transaction.model.ts
  backend/src/models/user.model.ts
  backend/src/server.ts
  backend/src/services/shoppingcart.service.ts
  backend/src/services/transaction.service.ts
Labels: backend, enhancement

#63 Added a new getter on products:
  backend/postman_collection/Integration Tests.postman_collection.json
  backend/src/controllers/product.controller.ts
  backend/src/services/product.service.ts
Labels: backend, enhancement

#70 Updated Models in Frontend
  frontend/src/app/models/product.model.ts
  frontend/src/app/models/productImage.model.ts
  frontend/src/app/models/review.model.ts
Labels: frontend

#69 Added functionality to get all unavailable products
  backend/postman_collection/Integration Tests.postman_collection_v02.json
  backend/src/controllers/product.controller.ts
  backend/src/services/product.service.ts
Labels: backend

#71 add amount attribute of product
  backend/src/models/product.model.ts
  backend/src/services/transaction.service.ts
Labels: backend, enhancement

#79 Fixed unavailable catalog and delete DB when starting the backend
  backend/postman_collection/Integration Tests.postman_collection.json
  backend/src/server.ts
Labels: backend

#73 Image & Review Service + Update
  frontend/src/app/app.component.html
  frontend/src/app/app.component.ts
  frontend/src/app/components/custom/compact-product-card/compact-product-card.component.css
  frontend/src/app/components/custom/compact-product-card/compact-product-card.component.html
  frontend/src/app/components/custom/compact-product-card/compact-product-card.component.ts
  frontend/src/app/components/custom/compact-product-list/compact-product-list.component.html
  frontend/src/app/components/custom/compact-product-list/compact-product-list.component.ts
  frontend/src/app/components/home/home.component.ts
  frontend/src/app/components/login/login.component.ts
  frontend/src/app/services/auth.service.ts
  frontend/src/app/services/image.service.spec.ts
  frontend/src/app/services/image.service.ts
  frontend/src/app/services/product.service.ts
  frontend/src/app/services/review.service.spec.ts
  frontend/src/app/services/review.service.ts
  frontend/src/app/services/user.service.ts
Labels: frontend

#80 Update Product Page
  frontend/src/app/app.module.ts
  frontend/src/app/components/custom/star-rating/star-rating.component.css
  frontend/src/app/components/custom/star-rating/star-rating.component.html
  frontend/src/app/components/custom/star-rating/star-rating.component.spec.ts
  frontend/src/app/components/custom/star-rating/star-rating.component.ts
  frontend/src/app/components/product/product.component.css
  frontend/src/app/components/product/product.component.html
  frontend/src/app/components/product/product.component.ts
  frontend/src/app/models/review.model.ts
  frontend/src/styles.css
Labels: frontend

#84 Automated tests in frontend
  .github/workflows/main.yml
  frontend/karma.conf.js
  frontend/src/app/app.component.spec.ts
  frontend/src/app/components/admin-panel/admin-panel.component.spec.ts
  frontend/src/app/components/admin-product-panel/admin-product-panel.component.spec.ts
  frontend/src/app/components/admin-user-panel/admin-user-panel.component.spec.ts
  frontend/src/app/components/catalog/catalog.component.spec.ts
  frontend/src/app/components/create-product/create-product.component.spec.ts
  frontend/src/app/components/custom/compact-product-card/compact-product-card.component.spec.ts
  frontend/src/app/components/custom/compact-product-list/compact-product-list.component.spec.ts
  frontend/src/app/components/custom/dialog/approve-product/approve-product.component.spec.ts
  frontend/src/app/components/custom/dialog/delete-product/delete-product.component.spec.ts
  frontend/src/app/components/custom/dialog/delete-user/delete-user.component.spec.ts
  frontend/src/app/components/custom/product-status-icon/product-status-icon.component.spec.ts
  frontend/src/app/components/custom/star-rating/star-rating.component.spec.ts
  frontend/src/app/components/edit-product/edit-product.component.spec.ts
  frontend/src/app/components/home/home.component.spec.ts
  frontend/src/app/components/login/forgot-password/forgot-password.component.spec.ts
  frontend/src/app/components/login/login.component.spec.ts
  frontend/src/app/components/logout/logout.component.spec.ts
  frontend/src/app/components/my-products/my-products.component.spec.ts
  frontend/src/app/components/product/product.component.spec.ts
  frontend/src/app/components/product/product.component.ts
  frontend/src/app/components/profile/profile.component.spec.ts
  frontend/src/app/components/sign-up/sign-up.component.spec.ts
  frontend/src/app/guards/admin.guard.spec.ts
  frontend/src/app/guards/auth.guard.spec.ts
  frontend/src/app/guards/not-auth.guard.spec.ts
  frontend/src/app/services/auth.service.spec.ts
  frontend/src/app/services/image.service.spec.ts
  frontend/src/app/services/preference.service.spec.ts
  frontend/src/app/services/product.service.spec.ts
  frontend/src/app/services/review.service.spec.ts
  frontend/src/app/services/user.service.spec.ts
Labels: frontend

#88 Added function to remove ProductImage entry
  backend/src/controllers/product.controller.ts
  backend/src/services/product.service.ts
Labels: backend

#91 notification controller
  backend/postman_collection/Integration Tests.postman_collection.json
  backend/src/controllers/notification.controller.ts
  backend/src/models/notification.model.ts
  backend/src/server.ts
  backend/src/services/notification.service.ts
Labels: backend

#82 Update Create Product
  frontend/src/app/components/create-product/create-product.component.css
  frontend/src/app/components/create-product/create-product.component.html
  frontend/src/app/components/create-product/create-product.component.spec.ts
  frontend/src/app/components/create-product/create-product.component.ts
Labels: frontend

#87 Refactored Review and added rating
  backend/postman_collection/Integration Tests.postman_collection.json
  backend/postman_collection/User.postman_environment.json
  backend/postman_collection/admin.postman_environment.json
  backend/src/controllers/review.controller.ts
  backend/src/models/review.model.ts
  backend/src/server.ts
  backend/src/services/review.service.ts
Labels: backend, enhancement

#86 Update Navigation Bar
  frontend/src/app/app.component.css
  frontend/src/app/app.component.html
  frontend/src/app/app.component.ts
  frontend/src/app/app.module.ts
  frontend/src/app/components/login/login.component.ts
  frontend/src/app/services/auth.service.ts
Labels: frontend

#93 Inbox Page
  frontend/src/app/app-routing.module.ts
  frontend/src/app/app.component.html
  frontend/src/app/app.component.ts
  frontend/src/app/app.module.ts
  frontend/src/app/components/inbox/inbox.component.css
  frontend/src/app/components/inbox/inbox.component.html
  frontend/src/app/components/inbox/inbox.component.spec.ts
  frontend/src/app/components/inbox/inbox.component.ts
  frontend/src/app/models/notification.model.ts
  frontend/src/app/services/notification.service.spec.ts
  frontend/src/app/services/notification.service.ts
Labels: frontend
