Repository scg-unibe-ch/ese2020-team5, pull requests merged in 2020-10, with the labels that each got.

#1 Update DB Scheme
  backend/db.sqlite
Labels: backend, enhancement

#2 Updated user.model.ts to enable the new attributes:
  backend/src/models/user.model.ts
Labels: backend, enhancement

#4 Created a Diagram for the Databse
  documentation/Database-v1.png
  documentation/Database.drawio
Labels: backend, documentation

#5 Updated the DB scheme for supporting sellable goods
  backend/db.sqlite
Labels: backend, enhancement

#6 Updated the Database Diagram, since there was an error in it:
  documentation/Database-v1.jpg
  documentation/Database-v1.png
  documentation/Database.drawio
Labels: backend, documentation

#11 Updated the database diagram
  documentation/Database-v1.1.jpg
  documentation/Database-v1.2.jpg
  documentation/Database.drawio
Labels: backend, documentation

#12 Updated the database initialization
  README.md
  backend/src/models/user.model.ts
  backend/src/server.ts
Labels: backend, enhancement

#14 Added product controller
  backend/src/controllers/product.controller.ts
  backend/src/middlewares/checkAuth.ts
  backend/src/models/product.model.ts
  backend/src/models/user.model.ts
  backend/src/server.ts
  backend/src/services/product.service.ts
Labels: backend, enhancement

#21 cleaned up the crc cards and added new backend cards
  deliverables/crcCards2.docx
Labels: documentation

#20 Updated the database diagram to change from sellable goods to products
  documentation/Database-v1.3.jpg
  documentation/Database.drawio
Labels: documentation

#19 Updated the product catalog (incl the service).
  backend/src/controllers/product.controller.ts
  backend/src/services/product.service.ts
Labels: backend, enhancement

#13 Added guards & services and implemented some missing features
  frontend/README.md
  frontend/src/app/app-routing.module.ts
  frontend/src/app/app.component.ts
  frontend/src/app/app.module.ts
  frontend/src/app/components/login/forgot-password/forgot-password.component.css
  frontend/src/app/components/login/forgot-password/forgot-password.component.html
  frontend/src/app/components/login/forgot-password/forgot-password.component.spec.ts
  frontend/src/app/components/login/forgot-password/forgot-password.component.ts
  frontend/src/app/components/login/login.component.css
  frontend/src/app/components/login/login.component.html
  frontend/src/app/components/login/login.component.spec.ts
  frontend/src/app/components/login/login.component.ts
  frontend/src/app/components/profile/profile.component.css
  frontend/src/app/components/profile/profile.component.html
  frontend/src/app/components/profile/profile.component.spec.ts
  frontend/src/app/components/profile/profile.component.ts
  frontend/src/app/components/sign-up/sign-up.component.css
  frontend/src/app/components/sign-up/sign-up.component.html
  frontend/src/app/components/sign-up/sign-up.component.ts
  frontend/src/app/components/todo-list/todo-item/todo-item.component.html
  frontend/src/app/components/todo-list/todo-item/todo-item.component.ts
  frontend/src/app/components/todo-list/todo-list.component.html
  frontend/src/app/components/todo-list/todo-list.component.ts
  frontend/src/app/components/user-login/user-login.component.css
  frontend/src/app/components/user-login/user-login.component.html
  frontend/src/app/components/user-login/user-login.component.ts
  frontend/src/app/guards/auth.guard.spec.ts
  frontend/src/app/guards/auth.guard.ts
  frontend/src/app/guards/not-auth.guard.spec.ts
  frontend/src/app/guards/not-auth.guard.ts
  frontend/src/app/services/auth.service.spec.ts
  frontend/src/app/services/auth.service.ts
Labels: frontend

#17 Updated the UserService to delete an User
  backend/db.sqlite
  backend/src/controllers/user.controller.ts
  backend/src/services/user.service.ts
  package-lock.json
Labels: backend, enhancement

#25 add reviews
  backend/src/controllers/review.controller.ts
  backend/src/controllers/user.controller.ts
  backend/src/models/product.model.ts
  backend/src/models/review.model.ts
  backend/src/models/user.model.ts
  backend/src/server.ts
  backend/src/services/product.service.ts
  backend/src/services/user.service.ts
Labels: backend, enhancement

#23 Added update functionality
  .idea/dataSources/5c40bfa3-e74d-4a02-be19-fe433555d598.xml
  backend/db.sqlite
  backend/src/controllers/user.controller.ts
  backend/src/services/user.service.ts
Labels: backend, enhancement

#27 Added User and Product Service
  frontend/src/app/models/product.model.ts
  frontend/src/app/models/todo-item.model.ts
  frontend/src/app/models/todo-list.model.ts
  frontend/src/app/models/user.model.ts
  frontend/src/app/services/product.service.spec.ts
  frontend/src/app/services/product.service.ts
  frontend/src/app/services/user.service.spec.ts
  frontend/src/app/services/user.service.ts
Labels: frontend

#29 Product Dashboard
  frontend/src/app/app-routing.module.ts
  frontend/src/app/app.module.ts
  frontend/src/app/components/custom/dialog/delete-product/delete-product.component.css
  frontend/src/app/components/custom/dialog/delete-product/delete-product.component.html
  frontend/src/app/components/custom/dialog/delete-product/delete-product.component.spec.ts
  frontend/src/app/components/custom/dialog/delete-product/delete-product.component.ts
  frontend/src/app/components/edit-product/edit-product.component.css
  frontend/src/app/components/edit-product/edit-product.component.html
  frontend/src/app/components/edit-product/edit-product.component.spec.ts
  frontend/src/app/components/edit-product/edit-product.component.ts
  frontend/src/app/components/my-products/my-products.component.css
  frontend/src/app/components/my-products/my-products.component.html
  frontend/src/app/components/my-products/my-products.component.spec.ts
  frontend/src/app/components/my-products/my-products.component.ts
Labels: frontend

#28 Redesign of Navigation Bar
  frontend/src/app/app-routing.module.ts
  frontend/src/app/app.component.css
  frontend/src/app/app.component.html
  frontend/src/app/app.component.ts
  frontend/src/app/app.module.ts
  frontend/src/app/components/logout/logout.component.css
  frontend/src/app/components/logout/logout.component.html
  frontend/src/app/components/logout/logout.component.spec.ts
  frontend/src/app/components/logout/logout.component.ts
  frontend/src/styles.css
Labels: frontend

#26 Class Diagramm Backend
  deliverables/ESE_UML_Backend.png
  deliverables/ESE_UML_Backend.xml
Labels: backend

#31 Updated CRC cards for the backend
  deliverables/crcCards-backend.docx
Labels: backend, bug, documentation

#32 Admin Dashboard
  frontend/src/app/app-routing.module.ts
  frontend/src/app/app.component.html
  frontend/src/app/app.component.ts
  frontend/src/app/app.module.ts
  frontend/src/app/components/admin-panel/admin-panel.component.css
  frontend/src/app/components/admin-panel/admin-panel.component.html
  frontend/src/app/components/admin-panel/admin-panel.component.spec.ts
  frontend/src/app/components/admin-panel/admin-panel.component.ts
  frontend/src/app/components/admin-product-panel/admin-product-panel.component.css
  frontend/src/app/components/admin-product-panel/admin-product-panel.component.html
  frontend/src/app/components/admin-product-panel/admin-product-panel.component.spec.ts
  frontend/src/app/components/admin-product-panel/admin-product-panel.component.ts
  frontend/src/app/components/admin-user-panel/admin-user-panel.component.css
  frontend/src/app/components/admin-user-panel/admin-user-panel.component.html
  frontend/src/app/components/admin-user-panel/admin-user-panel.component.spec.ts
  frontend/src/app/components/admin-user-panel/admin-user-panel.component.ts
  frontend/src/app/components/edit-product/edit-product.component.ts
  frontend/src/app/guards/admin.guard.spec.ts
  frontend/src/app/guards/admin.guard.ts
  frontend/src/app/services/product.service.ts
  frontend/src/app/services/user.service.ts
Labels: frontend

#38 Updated product service
  backend/src/services/product.service.ts
Labels: backend, bug

#37 Updated the product controller
  backend/src/controllers/product.controller.ts
Labels: backend, bug
