Repository scg-unibe-ch/ese2020-team5, pull requests merged in 2020-12, with the labels that each got.

#95 Shopping Cart Page
  backend/db.sqlite
  frontend/src/app/app-routing.module.ts
  frontend/src/app/app.component.html
  frontend/src/app/app.module.ts
  frontend/src/app/components/custom/dialog/checkout/checkout.component.css
  frontend/src/app/components/custom/dialog/checkout/checkout.component.html
  frontend/src/app/components/custom/dialog/checkout/checkout.component.spec.ts
  frontend/src/app/components/custom/dialog/checkout/checkout.component.ts
  frontend/src/app/components/product/product.component.css
  frontend/src/app/components/product/product.component.html
  frontend/src/app/components/product/product.component.ts
  frontend/src/app/components/shopping-cart/shopping-cart.component.css
  frontend/src/app/components/shopping-cart/shopping-cart.component.html
  frontend/src/app/components/shopping-cart/shopping-cart.component.spec.ts
  frontend/src/app/components/shopping-cart/shopping-cart.component.ts
  frontend/src/app/components/sign-up/sign-up.component.css
  frontend/src/app/components/sign-up/sign-up.component.html
  frontend/src/app/components/sign-up/sign-up.component.ts
  frontend/src/app/models/cartItem.model.ts
  frontend/src/app/models/product.model.ts
  frontend/src/app/models/user.model.ts
  frontend/src/app/services/cart.service.spec.ts
  frontend/src/app/services/cart.service.ts
Labels: frontend

#97 Added Wishlist functionality
  backend/postman_collection/Integration Tests.postman_collection.json
  backend/src/controllers/wishlist.controller.ts
  backend/src/models/product.model.ts
  backend/src/models/wishlist.model.ts
  backend/src/server.ts
  backend/src/services/wishlist.service.ts
Labels: backend

#98 Updated the product controller / service:
  backend/postman_collection/Integration Tests.postman_collection.json
  backend/src/controllers/product.controller.ts
  backend/src/middlewares/checkAuth.ts
  backend/src/services/product.service.ts
Labels: backend

#101 Updated getReviews() in User Service
  backend/src/services/user.service.ts
Labels: backend

#99 Added use case diagram
  deliverables/UseCaseDiagram_M4
  deliverables/UseCaseDiagram_M4.png
Labels: documentation

#104 Removed unused code and import statements
  backend/src/controllers/notification.controller.ts
  backend/src/controllers/product.controller.ts
  backend/src/controllers/review.controller.ts
  backend/src/controllers/secured.controller.ts
  backend/src/controllers/shoppingcart.controller.ts
  backend/src/controllers/todoitem.controller.ts
  backend/src/controllers/todolist.controller.ts
  backend/src/controllers/user.controller.ts
  backend/src/controllers/wishlist.controller.ts
  backend/src/models/notification.model.ts
  backend/src/models/product.model.ts
  backend/src/models/review.model.ts
  backend/src/models/shoppingcart.model.ts
  backend/src/models/todoitem.model.ts
  backend/src/models/todolist.model.ts
  backend/src/models/user.model.ts
  backend/src/models/wishlist.model.ts
  backend/src/server.ts
  backend/src/services/notification.service.ts
  backend/src/services/review.service.ts
  backend/src/services/shoppingcart.service.ts
  backend/src/services/transaction.service.ts
  backend/src/services/user.service.ts
  backend/src/services/wishlist.service.ts
Labels: backend

#109 Updated review service:
  backend/src/services/review.service.ts
Labels: backend

#107 Changed the status definition to
  backend/src/models/product.model.ts
  backend/src/services/shoppingcart.service.ts
  backend/src/services/transaction.service.ts
Labels: backend

#108 Updated the transaction service:
  backend/src/services/transaction.service.ts
Labels: backend

#102 Update User Service & Controller
  backend/src/controllers/user.controller.ts
  backend/src/services/user.service.ts
Labels: WIP, backend

#111 Updated the main readme
  README.md
Labels: documentation

#106 send notification to seller
  backend/postman_collection/Integration Tests.postman_collection.json
  backend/postman_collection/User.postman_environment.json
  backend/postman_collection/admin.postman_environment.json
  backend/src/controllers/shoppingcart.controller.ts
  backend/src/models/address.model.ts
  backend/src/models/product.model.ts
  backend/src/services/shoppingcart.service.ts
  backend/src/services/transaction.service.ts
Labels: backend

#103 Updated the readme and updated the database scheme
  backend/README.md
  documentation/Database-v2.jpg
  documentation/Database.drawio
Labels: documentation

#105 Mockups for ShoppingCart and WishList
  deliverables/Mockups/ShoppingCart.png
  deliverables/Mockups/WishList.png
  deliverables/Mockups/inbox.png
Labels: frontend
